div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background-color: #59565a;
    border: 10px solid black;
    box-sizing: content-box;
}
.recipes {
    background-color: aqua;
    font-size: large;
}
div img {
    margin: 10px;
    border: 10px solid white;
}  
/* div {
    box-sizing: border-box ;
    margin: 10px;
    border: 5px outset rgb(236, 174, 59) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
.pork-title {
    background-color: aqua;
    color: rgb(95, 66, 11);
}
#pork-img{
    border: 5px black ridge;
}
.pork-description {
    background-color: aliceblue;
}
.orange-highlight {
    background-color: red;
}